stages:
  - test
  - lint
  - build
  - deploy

variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"
  GIT_STRATEGY: clone

cache:
  paths:
    - .cache/pip
    - .venv/

.python-base:
  image: python:3.11
  before_script:
    - python -m pip install --upgrade pip
    - pip install -e ".[dev]"

test:python39:
  extends: .python-base
  stage: test
  image: python:3.9
  script:
    - pytest tests/ -v --tb=short --cov=multi_search_engine --cov-report=xml
  coverage: '/(?i)total.*? (100(?:\.0+)?\%|[1-9]?\d(?:\.\d+)?\%)$/'
  artifacts:
    reports:
      coverage_report:
        coverage_format: cobertura
        path: coverage.xml

test:python310:
  extends: .python-base
  stage: test
  image: python:3.10
  script:
    - pytest tests/ -v --tb=short

test:python311:
  extends: .python-base
  stage: test
  image: python:3.11
  script:
    - pytest tests/ -v --tb=short

test:python312:
  extends: .python-base
  stage: test
  image: python:3.12
  script:
    - pytest tests/ -v --tb=short

lint:flake8:
  extends: .python-base
  stage: lint
  script:
    - flake8 multi_search_engine/ tests/
  allow_failure: true

lint:mypy:
  extends: .python-base
  stage: lint
  script:
    - mypy multi_search_engine/
  allow_failure: true

lint:black:
  extends: .python-base
  stage: lint
  script:
    - black --check multi_search_engine/ tests/
  allow_failure: true

lint:isort:
  extends: .python-base
  stage: lint
  script:
    - isort --check-only multi_search_engine/ tests/
  allow_failure: true

build:package:
  extends: .python-base
  stage: build
  script:
    - pip install build
    - python -m build
  artifacts:
    paths:
      - dist/
    expire_in: 1 week
  only:
    - main
    - tags

deploy:pypi:
  extends: .python-base
  stage: deploy
  script:
    - pip install twine
    - twine upload dist/*
  dependencies:
    - build:package
  only:
    - tags
  when: manual
  variables:
    TWINE_USERNAME: __token__
    TWINE_PASSWORD: $PYPI_TOKEN

pages:
  extends: .python-base
  stage: deploy
  script:
    - pip install pdoc3
    - pdoc --html --output-dir public multi_search_engine
    - mv public/multi_search_engine/* public/
  artifacts:
    paths:
      - public
  only:
    - main
